
  <h5 class="display-4">FED-ZONE </h5>
 
<div id="space">
  <div class="container">
   
    <div class="row">
    <div class="col-lg-3 text-center">
     
       
          <img src="assets/images/html.png" class="rounded-circle center" alt="HTML">
          
              <p><a href="https://www.w3schools.com/" target="_blank">HTML</a></p>
          
       
    
</div>
<div class="col-lg-3 text-center">
  
     
        <img src="assets/images/CSS.png" class="rounded-circle center" alt="CSS">
      
            <p><a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS</a></p>
     
   
   
</div>
<div class="col-lg-3 text-center">
   
     
        <img src="assets/images/bootstrap.png" class=" rounded-circle center" alt="BOOTSTRAP">
       
           <p> <a href="https://www.w3schools.com/bootstrap/default.asp" target="_blank">BOOTSTRAP</a></p>
        
   
   
</div>
<div class="col-lg-3 text-center">
  
     
        <img src="assets/images/js.png"  class="rounded-circle center" alt="JAVASCRIPT">
      
            <p><a href="https://www.w3schools.com/js/default.asp" target="_blank">HTML</a></p>

</div></div></div>


<div id="para" class="jumbotron jumbotron-fluid bg-dark">
  <pre class="container">
      The above tutorial sites are open sources which are completely designed by our FED Designers to
      the flocks who wanted to lead their careers in <i style="color:darkorange"> FRONT-END DEVELOPEMENT(FED)</i>.
     </pre>
  </div> 

<p style="text-align:center;color:aqua">CLICK ON THEM TO ENJOY OUR SERVICE....</p>

</div>