
   

.col-lg-3 img{
 padding: 10px;
}
.row
{
    margin:10px;
}
h5{
    text-align:center;
    color:darkgoldenrod;
}

img
{
    width:190px;
    height:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

 a{
   
    color:white;
    text-decoration:none;
}
#para pre
{
    color:white;
    font-size:18px;
    margin:5px;
}