<div class="jumbotron jumbotron-fluid bg-secondary">
  <div class="container text-light">
    Hi Viewers !!!!!!
        As the world rushing towards the new technologies .... Todays most leading technology in FRONT-END languages 
        is <mark class="font-weight-bold font-italic">ANGULAR....</mark>
        <ul><li>It is the framework of <code><strong style="font-size:18px;color:brown;">JavaScript</strong></code></li>
          <li>It bought into existance by  <code><strong style="font-size:18px;color:brown">Google</strong></code></li>
          <li>The founder of this is <code><strong style="font-size:18px;color:brown">MISKO HARVEY</strong></code></li>
        </ul>
  </div>
</div>
<p class="text-center text-warning">Our tutorial helps you to get the basic knowledge 
  and the functionalities of all concepts in <kbd style="padding:10px;font-size:16px;">ANGULAR 5</kbd>  </p>
 <!--  <input type="button" class="btn btn-info btn-lg" value="Lets Start..."> -->
 <div class="col-md-12 text-center"> 
  <button   class="btn btn-primary btn-lg ">
    <a  href="https://www.tutorialspoint.com/angular4/index.htm" name="button">Lets Start...</a> 
  </button>
  <br/><br/>
  <button type="button" class="btn btn-primary btn-block" (click)="get()">GetMessage</button>

     <p  style="color:white" name="message" *ngIf="showMessage">Thankyou</p> 
  </div>
