

  
  li {
    padding-left: 1em; 
 
  }
  
  li::before {
    content: "\2022";
    font-size: 1.5em; 
    color: brown; /* or whatever color you prefer */
   
  }
 button a{
    text-decoration:none;
   color:white;
  }